@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --clr-primary: hsl(4, 100%, 67%);
  --clr-text: hsl(234, 29%, 20%);
  --clr-bg-body: hsl(235, 18%, 26%);
  --clr-text-button: hsl(231, 7%, 60%);
  --clr-White: hsl(0, 0%, 100%);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}
body,#root{
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-bg-body);
}
#root{
  background-color: var(--clr-bg-body);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}
footer{
  bottom: 0;
  color: white;
}
footer a{
  color:var(--clr-primary);
  text-decoration: none;
}
@media only screen and (max-width:768px){
  #root,body{
    height: 848px;
  }
  header{
    background-image: url("./assets/illustration-sign-up-mobile.svg");
    gap: 0;
    width: 100%;
    height: 285px;
    z-index: 1;
    position: absolute;
  }
  main.signup{
    width: 100%;
    margin-top: 250px;
    display: flex;
    order: 1/1;
    flex-direction: column;
  }
  main.signup .desc{
    padding: 20px;
    padding-top: 40px;
  }
  #exIllu{
    display: none;
  }
  footer{
    text-align: center;
  }
  body
  main.EndPage{
    z-index: 3;
    width: 100%;
    height: 90%;
    padding: 40px;
  }
}